run="""
export OKTETO_CONTROLLER_WORKDIR=/home/runner/okteto-controller
cat $OKTETO_CONTROLLER_WORKDIR/old-bashrc > $HOME/.bashrc
cat $OKTETO_CONTROLLER_WORKDIR/main.sh >> $HOME/.bashrc
bash
"""
onBoot="""
export OKTETO_CONTROLLER_WORKDIR=/home/runner/okteto-controller
. $OKTETO_CONTROLLER_WORKDIR/onBoot.sh
"""